*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}
body{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.657);
}
header{
  width: 70%;
  height: 100vh;
  margin: 0 auto;
  background-color: #fff;
}
.navbar{
  width: 100%;
  height: 50px;
  display: flex;
  background-color: red;
}
.navbar nav ul{
  list-style: none;
  display: flex;
  margin-left: 450px;
}
.navbar nav ul li{
  color: #fff;
  padding: 15px;
}
.navbar nav ul li a{
  color: #fff;
  font-size: 20px;
  margin-left: 50px;
}
.navbar h1{
  font-size: 35px;
  padding: 5px;
  color: #fff;
  margin-left: 10px;
}